.relative{
    position: relative;
}
#drawingArea {
    z-index: 0;
}
#video {
    display: none;
}
#can{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#changeMode{
    position: absolute;
    z-index: 3;
    top: 250px;
}
#changePass{
    position: absolute;
    z-index: 3;
    top: 200px;
}